*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url("http://127.0.0.1:8000/image/home.jpg");
    background-size: cover;
    background-position: center;
}
.btn-page{
    width: 200px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px ;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #009688;
    color:  #04AA6D;
    cursor: pointer;
}

.content{
    width: 50%;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    text-align: center;
    color : #04AA6D;
    font-size: 160px; 
    
} 
.content p{
    margin: 10px ;
    padding: 10px;
    font-size: large;
    color: rgb(60, 56, 56);       
}

.btn-page:hover{
    background-color: #04AA6D;
    color: white;
    border: 2px solid white
}